# Get them from your Pinecone account dashboard
export PINECONE_API_KEY=YOUR_API_KEY
export PINECONE_ENVIRONMENT=YOUR_PINECONE_DATACENTER
export PINECONE_INDEX_NAME=YOUR_PINECONE_INDEX

# Get them from your OpenAI account
export OPENAI_API_KEY=YOUR_API_KEY
